<div class="el-select-dropdown__wrap el-scrollbar__wrap" style="margin-bottom: -6px; margin-right: -6px;">
    <ul class="el-scrollbar__view el-select-dropdown__list">
        <!---->
        <ul data-v-f59ab5a0="" class="el-select-group__wrap">
            <li class="el-select-group__title">开发语言</li>
            <li>
                <ul class="el-select-group">
                    <li><span>Java</span></li>
                    <li><span>PHP</span></li>
                    <li><span>Python</span></li>
                    <li><span>C++</span></li>
                    <li><span>C#</span></li>
                    <li><span>C</span></li>
                    <li><span>.Net</span></li>
                    <li><span>Go</span></li>
                    <li><span>Scala</span></li>
                    <li><span>Swift</span></li>
                    <li><span>Objective-c</span></li>
                    <li><span>HTML5</span></li>
                    <li><span>JavaScript</span></li>
                    <li><span>CSS</span></li>
                    <li><span>Lua</span></li>
                    <li><span>Ruby</span></li>
                    <li><span>Perl</span></li>
                    <li><span>Groovy</span></li>
                    <li><span>Rust</span></li>
                    <li><span>Delphi</span></li>
                    <li><span>R</span></li>
                    <li><span>assembly language</span></li>
                    <li><span>Visual Basic</span></li>
                    <li><span>MatLab</span></li>
                    <li><span>PL/SQL</span></li>
                    <li><span>Scratch</span></li>
                    <li><span>Logo</span></li>
                    <li><span>其他语言</span></li>
                </ul>
            </li>
        </ul>
        <ul data-v-f59ab5a0="" class="el-select-group__wrap">
            <li class="el-select-group__title">技能与框架</li>
            <li>
                <ul class="el-select-group">
                    <li><span>angluarjs</span></li>
                    <li><span>Foundation</span></li>
                    <li><span>Bootstrap</span></li>
                    <li><span>React</span></li>
                    <li><span>Node.js</span></li>
                    <li><span>Vue.js</span></li>
                    <li><span>jQuery</span></li>
                    <li><span>Flux</span></li>
                    <li><span>Ember.js</span></li>
                    <li><span>react native</span></li>
                    <li><span>Framework</span></li>
                    <li><span>Jingle</span></li>
                    <li><span>Ionic</span></li>
                    <li><span>ReactiveCocoa</span></li>
                    <li><span>jQuery Mobile</span></li>
                    <li><span>Cocos2d-x</span></li>
                    <li><span>Cocos2d</span></li>
                    <li><span>Struts</span></li>
                    <li><span>Struts2</span></li>
                    <li><span>Hibernate</span></li>
                    <li><span>Spring</span></li>
                    <li><span>Spring Boot</span></li>
                    <li><span>SpringSide</span></li>
                    <li><span>Mybatis</span></li>
                    <li><span>Netty</span></li>
                    <li><span>Shiro</span></li>
                    <li><span>Spring MVC</span></li>
                    <li><span>Spring Cloud</span></li>
                    <li><span>JSF</span></li>
                    <li><span>freemarker</span></li>
                    <li><span>Laravel</span></li>
                    <li><span>Drupal</span></li>
                    <li><span>Phalcon</span></li>
                    <li><span>Symfony2</span></li>
                    <li><span>Yii</span></li>
                    <li><span>zendframework</span></li>
                    <li><span>ThinkPHP</span></li>
                    <li><span>Django</span></li>
                    <li><span>Diesel</span></li>
                    <li><span>Flask</span></li>
                    <li><span>Cubes</span></li>
                    <li><span>Kartograph.py</span></li>
                    <li><span>Pulsar</span></li>
                    <li><span>Web2py</span></li>
                    <li><span>Falcon</span></li>
                    <li><span>Dpark</span></li>
                    <li><span>Tornado</span></li>
                    <li><span>Buildbot</span></li>
                    <li><span>webpy</span></li>
                    <li><span>Scrapy</span></li>
                    <li><span>MFC</span></li>
                    <li><span>ATL</span></li>
                    <li><span>WPF</span></li>
                    <li><span>Microsoft Velocity</span></li>
                    <li><span>Quartz.NET</span></li>
                    <li><span>Topshelf</span></li>
                    <li><span>Unity</span></li>
                    <li><span>Spring.NET</span></li>
                    <li><span>Iris</span></li>
                    <li><span>http server</span></li>
                    <li><span>gorm</span></li>
                    <li><span>Faygo</span></li>
                    <li><span>echo</span></li>
                    <li><span>play</span></li>
                    <li><span>rails</span></li>
                    <li><span>Catalyst</span></li>
                    <li><span>Dancer</span></li>
                    <li><span>Mojolicious</span></li>
                    <li><span>grails</span></li>
                    <li><span>Dubbo</span></li>
                    <li><span>QT</span></li>
                    <li><span>JFinal</span></li>
                    <li><span>Hadoop</span></li>
                    <li><span>Storm</span></li>
                    <li><span>NutzBoot</span></li>
                </ul>
            </li>
        </ul>
        <ul data-v-f59ab5a0="" class="el-select-group__wrap">
            <li class="el-select-group__title">容器与中间件</li>
            <li>
                <ul class="el-select-group">
                    <li><span>Tomcat</span></li>
                    <li><span>Jboss</span></li>
                    <li><span>WebLogic</span></li>
                    <li><span>Nginx</span></li>
                    <li><span>Oracle</span></li>
                    <li><span>MySql</span></li>
                    <li><span>MongoDB</span></li>
                    <li><span>SqlServer</span></li>
                    <li><span>Redis</span></li>
                    <li><span>HBase</span></li>
                    <li><span>Informix</span></li>
                    <li><span>DB2</span></li>
                    <li><span>apache</span></li>
                    <li><span>Jetty</span></li>
                    <li><span>ebSphere</span></li>
                    <li><span>Memcahed</span></li>
                    <li><span>Gradle</span></li>
                    <li><span>Gulp</span></li>
                    <li><span>Grunt</span></li>
                    <li><span>ower</span></li>
                    <li><span>ven</span></li>
                    <li><span>ActiveMQ</span></li>
                    <li><span>WinForm</span></li>
                    <li><span>JBPM</span></li>
                    <li><span>Docker</span></li>
                    <li><span>Spark</span></li>
                    <li><span>Kafka</span></li>
                    <li><span>OpenStack</span></li>
                    <li><span>MQ</span></li>
                    <li><span>ESB</span></li>
                    <li><span>Mule</span></li>
                    <li><span>Mahout</span></li>
                    <li><span>GIS</span></li>
                    <li><span>APM</span></li>
                    <li><span>Android</span></li>
                    <li><span>IOS</span></li>
                    <li><span>NutzWx</span></li>
                </ul>
            </li>
        </ul>
    </ul>
</div>