<footer data-v-3206c165="" data-v-206f89a0="" id="footer" class="bg-black" style="margin-top: 60px;">
    <div data-v-3206c165="" class="hidden-md-and-up bg-black">
        <div data-v-3206c165="" class="company-logo"><img data-v-3206c165="" src="/static/images/logo.svg" alt="众包">
            <span data-v-3206c165="">让软件开发更加快捷、高效</span></div>
        <div data-v-3206c165="" class="footer-menus">
            <ul data-v-3206c165="" class="fonter-nav">
                <li data-v-3206c165="" data-index="0"><a data-v-3206c165="">规则中心 <i data-v-3206c165=""
                            class="el-icon-arrow-down"></i></a>
                    <!---->
                </li>
                <li data-v-3206c165="" data-index="1"><a data-v-3206c165="">帮助中心 <i data-v-3206c165=""
                            class="el-icon-arrow-down"></i></a>
                    <!---->
                </li>
            </ul>
        </div>
        <div data-v-3206c165="" class="service">
            <h5 data-v-3206c165=""><a data-v-3206c165="" href="tel:400-8982-008"
                    style="color: rgb(255, 255, 255);">400-8982-008</a></h5>
            <p data-v-3206c165="">服务与支持</p>
            <h5 data-v-3206c165=""><a data-v-3206c165="" href="mailto:zbkf@oschina.cn"
                    style="color: rgb(255, 255, 255);">zbkf@oschina.cn</a></h5>
            <p data-v-3206c165="">服务邮箱</p>
        </div>
        <div data-v-3206c165="" class="footer-banquan">
            <p data-v-3206c165="">Copyright © 2018 开源众包平台</p>
            <div data-v-3206c165="" class="icon-box clearfix"><a data-v-3206c165="" href="#"><i data-v-3206c165=""
                        class="footer-icon icon1  hidden-xs-only"></i></a> <a data-v-3206c165="" href="#"><i
                        data-v-3206c165="" class="footer-icon icon2  hidden-xs-only"></i></a> <a data-v-3206c165=""
                    href="#"><i data-v-3206c165="" class="footer-icon icon3  hidden-xs-only"></i></a></div>
        </div>
    </div>
    <div data-v-3206c165="" class="site-footer bg-black hidden-sm-and-down">
        <div data-v-3206c165="" class="el-row" style="padding: 42px 0px;">
            <div data-v-3206c165="" class="el-col el-col-18">
                <div data-v-3206c165="" class="grid-content bg-purple">
                    <div data-v-3206c165="" class="el-row">
                        <div data-v-3206c165="" class="el-col el-col-6">
                            <div data-v-3206c165="" class="grid-content bg-purple">
                                <ul data-v-3206c165="" class="menu vertical menu-ul">
                                    <li data-v-3206c165="" class="menu-text">我有需求</li>
                                    <li data-v-3206c165=""><a data-v-3206c165="" href="/classroom/outsource/index.html"
                                            target="_blank">发包宝典</a></li>
                                    <li data-v-3206c165=""><a data-v-3206c165=""
                                            href="/help/rule/index.html#/crowd/project" target="_blank">发包须知</a></li>
                                    <li data-v-3206c165=""><a data-v-3206c165="" target="_blank">发布软件项目</a></li>
                                    <li data-v-3206c165=""><a data-v-3206c165="" target="_blank">发布悬赏任务</a></li>
                                    <li data-v-3206c165=""><a data-v-3206c165="" href="/activity/own-project/index.html"
                                            target="_blank">平台自营服务</a></li>
                                </ul>
                            </div>
                        </div>
                        <div data-v-3206c165="" class="el-col el-col-6">
                            <div data-v-3206c165="" class="grid-content bg-purple-light">
                                <ul data-v-3206c165="" class="menu vertical menu-ul">
                                    <li data-v-3206c165="" class="menu-text">我有技术</li>
                                    <li data-v-3206c165=""><a data-v-3206c165="" href="/services/excellent-dev.html"
                                            target="_blank">成为开发者</a></li>
                                    <li data-v-3206c165=""><a data-v-3206c165="" href="/classroom/insource/index.html"
                                            target="_blank">接包宝典</a></li>
                                    <li data-v-3206c165=""><a data-v-3206c165=""
                                            href="/help/rule/index.html#/received/project" target="_blank">接包须知</a></li>
                                </ul>
                            </div>
                        </div>
                        <div data-v-3206c165="" class="el-col el-col-6">
                            <div data-v-3206c165="" class="grid-content bg-purple-light">
                                <ul data-v-3206c165="" class="menu vertical menu-ul">
                                    <li data-v-3206c165="" class="menu-text">帮助中心</li>
                                    <li data-v-3206c165=""><a data-v-3206c165="" href="" target="_blank">新手指南</a></li>
                                    <li data-v-3206c165=""><a data-v-3206c165="" href="/help/common/index.html"
                                            target="_blank">常见问题</a></li>
                                    <li data-v-3206c165=""><a data-v-3206c165="" href="/help/rule/index.html"
                                            target="_blank">规则中心</a></li>
                                    <li data-v-3206c165=""><a data-v-3206c165="" href="/feedback/index.html"
                                            target="_blank">意见建议反馈</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-v-3206c165="" class="el-col el-col-6">
                <div data-v-3206c165="" class="grid-content bg-purple">
                    <ul data-v-3206c165="" class="menu vertical service medium-text-right menu-ul">
                        <li data-v-3206c165="" class="menu-text">服务与支持</li>
                        <li data-v-3206c165=""><span data-v-3206c165=""
                                class="font-26 font-bold telephone margin-top-1">400-8982-008</span></li>
                        <li data-v-3206c165="" class="margin-top-0" style="opacity: 0.65;">周一至周日 08:00-23:00</li>
                        <li data-v-3206c165="" class="footer__qq">官方接包QQ群：<span data-v-3206c165="">576935158</span></li>
                        <li data-v-3206c165="" class="footer__qq">官方邮箱：<a data-v-3206c165=""
                                href="mailto:zbkf@oschina.cn">zbkf@oschina.cn</a></li>
                        <li data-v-3206c165="">
                            <div data-v-3206c165="" class="footer__icon">
                                <div data-v-3206c165="" class="el-dropdown"><span data-v-3206c165=""
                                        class="el-dropdown-link el-dropdown-selfdefine" aria-haspopup="list"
                                        aria-controls="dropdown-menu-2780" role="button" tabindex="0"><img
                                            data-v-3206c165="" src="/static/images/footer-icon.png" alt=""
                                            class="footer__icon__img"></span>
                                    <ul data-v-3206c165="" class="el-dropdown-menu el-popper" id="dropdown-menu-2780"
                                        style="display: none;">
                                        <li data-v-3206c165="" tabindex="-1" class="el-dropdown-menu__item"><img
                                                data-v-3206c165="" src="/static/images/footer-icon0.jpg" alt=""
                                                class="footer__icon__img--hover"></li>
                                    </ul>
                                </div> <img data-v-3206c165="" src="/static/images/footer-icon1.png" alt=""
                                    class="footer__icon__img" style="margin-left: 40px;">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div data-v-3206c165="" class="footer-bottom bottom el-row">
            <div data-v-3206c165="" class="el-col el-col-12"><a data-v-3206c165="" href="/"><img data-v-3206c165=""
                        src="/static/images/logo.svg" alt="开源众包平台" class="logo hidden-xs-only"></a> <span
                    data-v-3206c165="" class="margin-left-1">让软件开发更加快捷、高效</span></div>
            <div data-v-3206c165="" class="el-col el-col-12">
                <div data-v-3206c165="" class="copyright">Copyright©2018 开源众包平台</div>
            </div>
        </div>
    </div>
</footer>