<div  class="el-col el-col-5" style="padding-left: 10px; padding-right: 10px;">
    <div  class="left-menu-box panel-bg">
        <ul  class="menus">
            <li ><h5  sty="">资料设置</h5></li>
            <li  style="position: relative;"><a  href="#/person"class="router-link-exact-active router-link-active">基本信息</a></li>
            <li  style="position: relative;"><a  href="#/personCertification"class="">实名认证</a></li>
            <li  style="position: relative;"><a  href="#/bind" class="">账号绑定</a></li>
        </ul>
        <ul  class="menus">
            <li ><h5  sty="">我的积分</h5></li>
            <li  style="position: relative;"><a  href="#/points/my" class="">积分任务</a></li>
            <li  style="position: relative;"><a  href="#/points/log" class="">积分记录</a></li>
        </ul>
    </div>
</div>