HELP.md
bpo_2/target/
!bpo_2/.mvn/wrapper/maven-wrapper.jar
!bpo_2/**/src/main/**/target/
!bpo_2/**/src/test/**/target/

### STS ###
bpo_2/.apt_generated
bpo_2/.classpath
bpo_2/.factorypath
bpo_2/.project
bpo_2/.settings
bpo_2/.springBeans
bpo_2/.sts4-cache

### IntelliJ IDEA ###
bpo_2/.idea
bpo_2/*.iws
bpo_2/*.iml
bpo_2/*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
