HELP.md
bpo_2/target/
!bpo_2/.mvn/wrapper/maven-wrapper.jar
!bpo_2/**/src/main/**/target/
!bpo_2/**/src/test/**/target/

### IntelliJ IDEA ###
bpo_2/.idea
bpo_2/*.iws
bpo_2/*.iml
bpo_2/*.ipr

### VS Code ###
.vscode/
bpo_2/.idea/workspace.xml
bpo_2/.idea/compiler.xml
bpo_2/.idea/compiler.xml
bpo_2/.idea/workspace.xml
