<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/pay.css">
    <script src="./js/jquery-3.4.1.js"></script>
    <script src="./js/bootstrap.js"></script>
    <title>Bootstrap</title>
</head>

<body>
    <div th:replace="pages/front/component/nav::navbar(userRoleId=2)"></div>
    <div class = "OrderTitle"><p>订单页面</p></div>
    <div class="container" id = "Container">
        <div id = "Order">
            <div class = "ProjectTitle"><p>项目名称: <span>服务外包前端编写</span></p></div>
            <div class="Info">
                <div class = "TableDiv">
                    <table class = "table InfoTable">
                        <caption>发布方信息</caption>
                        <tr>
                            <td class = "PropertyName">发布方ID:</td><td>201806062407</td>
                            <td class = "PropertyName">发布方姓名:</td><td>jmh</td>
                        </tr>
                        <tr>
                            <td class = "PropertyName">联系人:</td><td>jmh</td>
                            <td class = "PropertyName">电话:</td><td>4008823823</td>
                        </tr>
                    </table>
                </div>
                <div class = "TableDiv">
                    <table class = "table InfoTable">
                        <caption>承包方方信息</caption>
                        <tr>
                            <td class = "PropertyName">承包方ID:</td><td>201806062405</td>
                            <td class = "PropertyName">发布方姓名:</td><td>hzw</td>
                        </tr>
                        <tr>
                            <td class = "PropertyName">承包方联系人:</td><td>hzw</td>
                            <td class = "PropertyName">电话:</td><td>15487465241</td>
                        </tr>
                    </table>
                </div>
                <div class = "TableDiv">
                    <table class = "table InfoTable">
                        <caption>订单信息</caption>
                        <tr>
                            <td class = "PropertyName">订单ID:</td><td>00001</td>
                            <td class = "PropertyName">项目ID:</td><td>00001</td>
                            <td class = "PropertyName">订单金额:</td><td>￥10000</td>
                        </tr>
                        <tr>
                            <td class = "PropertyName">承包方定金:</td><td>￥1000</td>
                            <td class = "PropertyName">发布方定金:</td><td>￥1000</td>
                            <td class = "PropertyName">生成时间:</td><td>2020-12-26</td>
                        </tr>
                        <tr>
                            <td class = "PropertyName">工期:</td><td>7天</td>
                            <td class = "PropertyName">预算:</td><td>￥0</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div>
                <a href = "#" class = "btn Confirm">确认订单并缴纳定金</a>
                <p>点击保存或发布按钮，表示您已确认并同意<a href="#">《开源众包平台订单签订协议及规则》</a></p>
            </div>
        </div>
        <div id = "advert">
            <div class="AdvertDiv"><a href = "#"><img src="./images/ad1.jpg"></a></div>
            <div class="AdvertDiv"><a href = "#"><img src="./images/ad2.jpg"></a></div>
            <div class="AdvertDiv"><a href = "#"><img src="./images/ad3.jpg"></a></div>
            <div class="AdvertDiv"><a href = "#"><img src="./images/ad4.jpg"></a></div>
        </div>
    </div>
    <div th:replace="pages/front/component/footer::footer"></div>
</body>

</html>